@import url('~reveal.js/css/reveal.css');
@import url('black.css');
@import url('~reveal.js/lib/css/zenburn.css');
@import url('grid.css');
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
    border-right-color: darkgrey;
}
.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
    border-left-color: darkgrey;
}
.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
    border-bottom-color: darkgrey;
}
.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
    border-top-color: darkgrey;
}
.reveal figure figcaption {
    font-size: 12pt;
}
.reveal .slides > section {
    padding: 0;
}
.reveal pre {
    display: inline-block;
    width: unset;
    margin-top: 5px;
}
.reveal pre code {
    padding: 10px 25px 10px 10px;
    max-height: 500px;
}
.reveal em {
    font-style: normal;
    background: linear-gradient(to bottom, rgba(200, 200, 0, 0.40), rgba(200, 200, 0, 0.10), rgba(200, 200, 0, 0.05), rgba(200, 200, 0, 0.10), rgba(200, 200, 0, 0.40));
}
.reveal p {
    margin: 12px 0;
}
.reveal p > code {
    background: #3f3f3f;
    color: #dcdcdc;
    padding: 2px 5px;
}
.reveal .box {
    width: 90%;
    margin: 20px auto;
    padding-bottom: 20px;
}
.reveal .box, .reveal .box-style {
    background: #3f3f3f;
    box-shadow: 0px 0px 6px 6px rgba(20, 22, 133, 0.7);
}
.reveal .box .box {
    background: black;
    box-shadow: 0px 0px 6px 6px rgba(133, 22, 20, 0.7);
}
.reveal .box .box .box {
    background: #3f3f3f;
    box-shadow: 0px 0px 6px 6px rgba(20, 133, 22, 0.7);
}
.reveal .box .box-caption {
    margin-left: 3px;
    margin-top: 3px;
    font-size: 28pt;
    text-align: left;
}
.reveal .box .box .box-caption {
    font-size: 24pt;
}
.reveal .box.no-pb {
    padding-bottom: 0;
}
.reveal .box.inline-box {
    display: inline-block;
    width: unset;
    margin-left: 12px;
    margin-right: 12px;
}
.reveal .smalltext {
    font-size: 16px;
}
.reveal h1,
.reveal h2,
.reveal h3 {
    width: 90%;
    margin: 0px auto 25px;
    padding: 5px 5px;
    text-transform: none;
    border-radius: 5px !important;
    box-shadow: 0px 0px 6px 6px rgba(255, 255, 255, 0.3);
}
.reveal section img {
    border: none;
    margin: 10px auto;
    background-color: transparent;
}
.reveal section img.white-bg {
    background-color: white;
}

.reveal small {
    vertical-align: baseline;
}

.reveal img.fix-height {
    height: 450px;
}

.reveal table thead {
    font-weight: bold;
    border-bottom: solid 2px;
}

.reveal table td {
    border-top: none;
    border-bottom: none;
    border-left: solid 2px white;
}

.reveal table td:nth-child(1) {
    border-left: none;
}

.reveal table.table-xl td {
    padding: 2px 10px;
    font-size: 34px;
}

.reveal table.table-m td {
    padding: 2px 6px;
    font-size: 24px;
}

.reveal table tbody tr:nth-child(odd) {
    background-color: #606060;
}

.reveal table tbody.center-col-1 tr td:nth-child(1) {
    text-align: center;
}
.reveal table tbody.center-col-2 tr td:nth-child(2) {
    text-align: center;
}
.reveal table tbody.center-col-3 tr td:nth-child(3) {
    text-align: center;
}
.reveal table tbody.center-col-4 tr td:nth-child(4) {
    text-align: center;
}
.reveal table tbody.center-col-5 tr td:nth-child(5) {
    text-align: center;
}
.reveal table tbody.center-col-6 tr td:nth-child(6) {
    text-align: center;
}
.reveal ul.no-marker {
    list-style-type: none;
}
.reveal .monospace * {
    font-family: monospace;
}
.reveal footer {
    font-size: 18pt;
}
.reveal footer a {
    color: white;
    text-decoration: underline;
}
.reveal footer .separator {
    margin: 0 10px;
}