<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <title>reveal.js – The HTML Presentation Framework</title>
</head>

<body>
    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <section>
                <h1>Hallo!</h1>
            </section>

            <section>
                <h3>Reveal.js</h3>
                <p>Lorem Ipsum</p>
            </section>

        </div>

    </div>

    <!-- <% if(false) { %> -->
    <!-- https://github.com/bananer/revealjs-starterpack -->
    <script src="https://philipfrank.de/slides/starterpack.js"></script>
    <!-- <% } %> -->
</body>

</html>
